## NAMESPACE
###------------------------------------------------------------------------
## What: NAMESPACE file
## $Id$
## Time-stamp: <2006-08-08 01:19:40 ggorjan>
###------------------------------------------------------------------------

export(connectedness,
       levelsBySet)
S3method(print, connectedness)
S3method(plot, connectedness)
S3method(subset, connectedness)

###------------------------------------------------------------------------
## NAMESPACE ends here
